body {
  margin: 0;
  font-family: 'Profilfont-Regular-Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 500;
  font-family: 'Profilfont-Regular-Web', sans-serif;
}

@font-face {
  font-family: 'Profilfont-Regular-Web';
  font-style: normal;
  font-weight: normal;
  font-size-adjust: from-font;
  src: local('Profilfont-Regular-Web'), url(./fonts/Profilfont-Regular-Web.woff2) format('woff2');
}
